@import url('https://fonts.googleapis.com/css?family=Poiret+One');

header {
        padding: 10px 16px;
        background: rgb(155, 152, 139);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

p{
    padding: 10px 16px;
    background: rgb(155, 152, 139);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

footer{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}